*.sh
data/
references/
reports/writing/*
reports/presentations/*
reports/project_updates/*
reports/project_updates/*.key
reports/figures/Group_Analysis/*mp4
reports/figures/Group_Analysis/brain_plots/*
*/__pycache__/
eeg.egg-info/
*/*out
*out
.vscode/
scripts/eeg_preprocessing/fieldtrip/
scripts/eeg_preprocessing/textprogressbar/
logs/
*.egg-info/