*.sh
data/
references/
reports/writing/*
reports/presentations/*
reports/figures/Group_Analysis/*mp4
reports/figures/Group_Analysis/brain_plots/*
*/__pycache__/
*.egg-info/
*/*out
*out
.neptune/
*/.neptune
